---
name: Spotless Check

on:
  - push

jobs:
  build:
    name: spotlessCheck
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Check
        run: |
          chmod +x gradlew
          ./gradlew spotlessCheck
